body{
    font-family:Brush Script MT, Brush Script Std, cursive;
    background-color:white;
    text-transform: capitalize;
  }
  #navbar{
      position:fixed;
      width: 280px;
      height: 100%;
      top:0 ;
      left: 0;
      margin-right:initial;
      background-color:white;
  }
  #navbar header {
      font-size: 20px;
      padding: 30px;
      margin: 10px;
      text-align:center;
  }
  #navbar ul {
    line-height:2.3;
      padding: 20px 10px;
  }
  #navbar ul li {
    text-align:center;
  }
  #navbar ul li:hover {
      background-color: #E9DAC1;
  }
  .nav-link {
      font-size: 17px;
      text-decoration: none;
      color:black;
  }
  #main-doc {
      margin-left: 275px;
      color:black;
      line-height:1.8;
  }
  .main-section {
      background-color: #E9DAC1;
      padding: 100px;
      margin: 10px;
  }
  .main-section header {
      font-size: 30px;
      padding: 5px;
      font-weight: 900;
  }
  
  .main-section p {
      font-size: 15px;
      padding: 10px;
      margin: 0px 9px 0px 5px;
  }
  code {
      background-color: white;
      margin:5px ;
      display: flex;
      white-space: pre-wrap;
      font-weight: bold;
  }
  @media only screen and (min-width: 300px) {
      body {
          background-color: white;
      }
  } 